d-article .controls {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

d-article .controls input {
  flex: 1
}

.column {
  width: 45%;
}

.smaller-img {
  height: 80%;
  width: 80%;
  align-items: center;
}

d-article .container {
  float: left;
}

/*https://distill.pub/2019/gan-open-problems/*/
.open-problem {
    display: flex;
    color: #333;
    background-color: hsla(206, 90%, 20%, 0.03);
    border-left: 3px solid hsla(206, 50%, 20%, 0.8);
    padding: 1em 2em;
    margin-bottom: 1em;
    counter-increment: problem;
}

/*span {
  padding-bottom: 15px;
}
*/

.l-screen {
  grid-column: screen;
  text-align: center;
}

.shaded-figure {
  background-color: hsl(200, 20%, 97%);
  border-top: 1px solid hsla(0, 0%, 0%, 0.1);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
  padding: 30px 0;
  overflow-x: auto;
}

.collapsible {
  background-color: hsla(206, 95%, 20%, 0.2);
  cursor: pointer;
  padding: 1em;
  border: none;
  text-align: left;
  outline: none;
}

.active, .collapsible:hover {
  transition: max-height 0.2s ease-out;
  /* background-color: #acc2c2; */
}

d-article .content {
  padding: .3em 1em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  /*background-color: #e1f2f2;*/
  /*border-style: ridge;*/
  border-color: hsla(206, 95%, 20%, 0.2);
}

/* Next & previous buttons */
d-article .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  user-select: none;
  background-color: rgba(0,0,0,0.25);
}

/*Taken from https://www.w3schools.com/howto/howto_js_rangeslider.asp*/
d-article .slidecontainer {
  display: flex;
  flex: 1;
  justify-content: stretch;
  align-items: center;
}

d-article .slider {
  -webkit-appearance: none;
  cursor: grabbing;
  flex: 1;
  height: 1.5em;
  margin: 0.25em;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
  vertical-align: center;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 8px;
  width: 20px;
  height: 20px;
  border: 0;
  background: black;
  cursor: pointer;
  vertical-align: center;
}

d-article button {
  cursor: grabbing;
  float: left;
  width: 2.2em;
  height: 2.2em;
  border-radius: 7px;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  background: black;
  cursor: pointer;
}

/* 2020-05-05 @schubert editorial style fixes */

.gif-slider button.stepper {
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gif-slider button:focus {
  outline: 0;
}

.collapsible {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-radius: 4px;
}

.collapsible.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.collapsible .collapsible-indicator::after {
  content: "+"
}

.collapsible.active .collapsible-indicator::after {
  content: "-"
}

.collapsible h4 {
  margin: 0;
  line-height: inherit;
}

ul.footnote-ul {
  padding-left: 0;
  list-style-type: none;
  display: inline-block;
}

ul.footnote-ul li {
  display: inline;
}

.katex-display {
  overflow-x: auto;
}


/* if desktop */
.mobile_device_480px {
    display: none;
}

/* if mobile device max width 480px */
@media only screen and (max-device-width: 480px) {
   .mobile_device_480px{display: block;}
   .desktop {display: none;}
}