.smaller-img {
  height: 80%;
  width: 80%;
  align-items: center;
}

#mu_plus {
  stroke-width: 1;
  fill: none;
  stroke: rgb(21, 12, 400);
  stroke-dasharray: 3, 3;
  shape-rendering: crispEdges;
}

.pi_areas {
  stroke-width: 0;
  fill-opacity: .40;
}
.gaus_plots {
  stroke-width: 2;
  fill: none;
}

/*https://distill.pub/2019/gan-open-problems/*/
.open-problem {
    display: flex;
    color: #333;
    background-color: hsla(206, 90%, 20%, 0.03);
    border-left: 3px solid hsla(206, 50%, 20%, 0.8);
    padding: 1em 2em;
    margin-bottom: 1em;
    counter-increment: problem;
}

span {
	padding-bottom: 15px;
}

/* https://distill.pub/2019/visual-exploration-gaussian-processes/ */
#Teaser {
  display: flex;
  justify-content: center;
  height: 400px;
  font: 10px;
}
  
.pi {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.pi_fill {
  fill: rgb(133, 185, 228);
  fill-opacity: .50;
}

.unfilled {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
.unfilledgt {
  stroke: black;
  stroke-width: 2;
  fill: none;
}
.filledgt {
  stroke: grey;
  stroke-width: 1;
  fill: grey;
  fill-opacity: .50;
}


/* .labels {

} */
.axis path, 
.axis line {
  stroke-width: 1;
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.Teaser {
  display: block;
}

.l-screen {
  grid-column: screen;
  text-align: center;
}

.shaded-figure {
  background-color: hsl(200, 20%, 97%);
  border-top: 1px solid hsla(0, 0%, 0%, 0.1);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
  padding: 30px 0;
  overflow-x: auto;
}

.label {
  text-anchor: middle;
  font: 8px;
}

.title {
  text-anchor: middle;
  font: 16px;
  text-decoration: underline;
}
